{% macro registrationForm(instructions, formConfig, countries) %}
<div>
    <div class="wsb-congratulation" data-post-registration-message>
        <h2 class="wsb-congratulation__title">
            Thank you for the registration
        </h2>
        <div class="wsb-congratulation__p">
            Further details and your joining instructions will follow shortly by email.
        </div>
    </div>

    <form action="#" class="wsb-form" data-registration-form>
        <div class="wsb-form__body">
            <div class="wsb-form__title">Register for the event</div>
            <div class="wsb-form__instructions">{{ instructions }}</div>
            {% from "./field.njk" import formField %}
            {% for section in formConfig %}
                {% if section.name %}
                    <div class="wsb-form__section-title">{{ section.name }}</div>
                {% endif %}
                {% for field in section.fields %}
                    {{ formField(field, countries) }}
                {% endfor %}
            {% endfor %}
            <div class="wsb-form__error" data-form-major-error></div>
            <button data-widget-submit type="submit" class="btn btn-primary wsb-form__btn">
                Register
            </button>
        </div>
    </form>
</div>
{% endmacro %}
