<div class="wsb-content">
    <div class="wsb-page">
        <div class="wsb-header wsb-center">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="wsb-body wsb-center">
            <div class="wsb-right-col">
                <div>
                    {% if event.registration.isClosed() %}
                        <button class="wsb-sidebar__register" disabled>{{ event.getReasonForClosedRegistration() }}</button>
                    {% else %}
                        <a href="#" target="_blank" data-registration-button
                                {% if event.tickets.getActiveTicketId() %}
                                    data-ticket-id="{{ event.tickets.getActiveTicketId() }}"
                                {% endif %}
                           class="wsb-sidebar__register">Register Now</a>
                    {% endif %}
                </div>
                <div class="wsb-info">
                    <div class="wsb-info__title">Date:</div>
                    {{ event.schedule }}
                    {#<div class="wsb-info__footer">{{ formatDate(event.start) }}</div>#}
                </div>
                <div class="wsb-info">
                    <div class="wsb-info__title">Location:</div>
                    {{ event.location }}
                    <div class="wsb-info__footer">{{ formatLanguages(event) }}</div>
                </div>
                {% if event.tickets.nonEmpty() %}
                    <div class="wsb-tickets wsb-info">
                        {% if event.free %}
                            <div class="wsb-ticket">
                                <div class="wsb-ticket__val">
                                    Free
                                </div>
                                <div class="wsb-ticket__footer">
                                    {{ formatTicketState(event.tickets.free, false) }}
                                </div>
                            </div>
                        {% else %}
                            {% for ticket in event.tickets.paid %}
                                <div class="wsb-ticket {% if not ticket.isActive() %} state-closed {% endif %}">
                                    <div class="wsb-ticket__val">
                                        {{ formatPrice(ticket.price, ticket.withVAT) }}
                                    </div>
                                    <div class="wsb-ticket__name">
                                        {{ ticket.name }}
                                    </div>
                                    <div class="wsb-ticket__desc">
                                        {{ formatTicketDescription(ticket) }}
                                    </div>
                                    <div class="wsb-ticket__footer">
                                        {{ formatTicketState(ticket, true) }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="wsb-workshops" id="upcoming-events">
                    <div class="wsb-workshops__title">
                        Upcoming events:
                    </div>
                    <div data-events-list></div>
                </div>
                {% from "./event/share.njk" import shareEvent %}
                {{ shareEvent(event) }}
            </div>
            <div class="wsb-left-col">
                {% if event.description %}
                    <div class="wsb-desc">{{ event.description | safe }}</div>
                {% endif %}
                {% if options.withTrainers %}
                    <div class="wsb-trainers">
                        {% for trainer in event.trainers %}
                            <div class="wsb-trainer">
                                <div class="wsb-profile">
                                    {% set url = options.trainerPageUrl + '?id=' + trainer.id %}
                                    {% set photo = "background-image: url(" + trainer.photo + ");" %}
                                    <a class="wsb-profile_img" href="{{ url }}" style="{{ photo }}"></a>
                                    <div class="wsb-profile__name">
                                        <div class="inner">
                                            <h3>
                                                {{ trainer.firstName }}
                                                <br/>
                                                {{ trainer.lastName }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                {% if trainer.bio %}
                                    <div class="wsb-profile__text" data-max-height="80">
                                        {{ trainer.bio | safe }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% from "./builtInForm.njk" import registrationForm %}
                <div data-registration-block class="wsb-before-registration">
                    {{ registrationForm(event.instructions, event.registrationForm, countries) }}
                </div>

            </div>
        </div>
    </div>
</div>
