<div class="wsb-content">
    <div class="wsb-page">
        <div class="wsb-body wsb-center">
            <div class="wsb-right-col">
                <div class="wsb-info">
                    <div class="wsb-info__title">Date:</div>
                    {{ event.schedule }}
                    {#<div class="wsb-info__footer">{{ formatDate(event.start) }}</div>#}
                </div>
                <div class="wsb-info">
                    <div class="wsb-info__title">Location:</div>
                    {{ event.location }}
                    {#<div class="wsb-info__footer">{{ formatLanguages(event) }}</div>#}
                </div>
                {% if event.tickets.nonEmpty() %}
                    <div class="wsb-tickets wsb-info">
                        <div class="wsb-info__title">Tickets:</div>
                        {% if event.free %}
                            {% set freeDesc = formatTicketState(event.tickets.free, false) %}
                            Free. Registration is required
                            <br/>
                            {{ freeDesc }}
                        {% else %}
                            {% for ticket in event.tickets.paid %}
                                <div>OK {{ ticket.isActive() }}</div>
                                <div class="wsb-ticket {% if not ticket.isActive() %} ended {% endif %}">
                                    {{ formatPrice(ticket.price, ticket.withTax) }} – {{ ticket.name }}
                                    <br/>
                                    <span class="hint">{{ formatTicket(ticket) }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <div class="wsb-left-col">
                {% from "./builtInForm.njk" import registrationForm %}
                {{ registrationForm(event.instructions, event.registration_form, countries) }}
            </div>
        </div>
    </div>
</div>
