{% for event in events %}
    <div class="wsb-workshop">
        {{ event.schedule }} in {{ event.location }}
        <br>
        <a href="{{ event.url }}" class="wsb-link">
            {{ event.title }}
        </a>
    </div>
{% endfor %}
