{% from "./common/filters.njk" import drawFilters %}
{% from "./trainer/list.njk" import drawTrainers %}
<div class="wsb-content">
    {{ drawFilters(filters) }}
    {{ drawTrainers(trainers, template) }}
</div>
