{% macro drawTrainers(trainers, tmpl) %}
    {% from "./item.njk" import drawTrainer %}
    <div class="wsb-trainer-list">
        <div class="wsb-tiles" data-trainer-list>
            {% for trainer in trainers %}
                {% if tmpl %}
                    {{ tmpl(trainer) | safe }}
                {% else %}
                    {{ drawTrainer(trainer) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="wsb-no-trainers" data-empty-list>
            No trainers were found
        </div>
    </div>
{% endmacro %}
