{% macro table(events, tmpl) %}
    {% from "./row.njk" import drawRow %}
    <div class="wb-event-list">
        <div class="wb-table" data-event-list>
            <div class="wb-table__head">
                <div class="wb-table__col">When</div>
                <div class="wb-table__col">Where</div>
                <div class="wb-table__col">What</div>
                <div class="wb-table__col"></div>
            </div>
            {% for event in events %}
                {% if tmpl %}
                    {{ tmpl(event) | safe }}
                {% else %}
                    {{ drawRow(event) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="wb-no-events">
            No events were found
        </div>
    </div>
{% endmacro %}
