{% macro drawEvent(event) %}
    <div class="wsb-tile" data-event-obj data-event-type="{{ event.type.id }}"
         data-event-location="{{ event.country }}"
         data-event-language="{{ event.spokenLanguages | join(',') }}"
         data-event-trainer="{{ event.trainers | join(',') }}">
        <a data-widget-go href="{{ event.url }}" class="wsb-tile-title">{{ event.title }}</a>
        <div class="wsb-tile-info">
            {{ event.schedule }}
            {% if event.free %}
                <div class="wsb-tile-free">free</div>
            {% endif %}
            <br/>
            {{ event.location }}
        </div>
        <div class="wsb-tile-content">{{ event.description | safe }}</div>
        <div class="wsb-tile-button">
            <a data-widget-go href="{{ event.url }}" class="wsb-btn wsb-btn-primary wsb-tile-btn">
                {% if event.soldOut %}
                    Sold Out
                {% else %}
                    Register
                {% endif %}
            </a>
        </div>
    </div>
{% endmacro %}
